@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(231, 227, 227);
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  width: 70%;
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 40px 0;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav-link-container ul li {
  padding: 0 15px;
  color: dimgrey;
  cursor: pointer;
  font-weight: 700;
}
.nav-link-container ul li:hover {
  color: rgb(51, 100, 51);
}

.nav-btn-control button {
  border-radius: 20px;
  padding: 8px 16px;
  color: rgb(77, 141, 77);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.nav-btn-control button:hover {
  background-color: rgb(77, 141, 77);
  color: #fff;
}

.header {
  padding: 100px 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header::before {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 100%;
  background-color: rgb(77, 141, 77);
  margin-bottom: 40px;
  dasd
} */

.header article h1 {
  font-size: 3.2rem;
  width: 12ch;
  display: block;
  overflow: hidden;
}

.header article p {
  padding: 30px 0;
  width: 40ch;
  display: block;
  overflow: hidden;
}

.header article button {
  padding: 12px 24px;
  background-color: rgb(77, 141, 77);
  border-radius: 20px;
  color: #fff;
}

.header img {
  width: 500px;
}
.form {
  background-color: rgb(77, 141, 77);
  width: 60%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  border-radius: 40px;
}
.form input {
  flex: 0 0 50%;

  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1.4rem;
}

.form button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: rgb(77, 141, 77);
  font-weight: bold;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 40px 0;
}
.link-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 15px 25px;
  background-color: #fff;
  margin: 20px 0;
}
.link-control li {
  flex: 0 0 55%;
  overflow: hidden;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-control li:last-of-type {
  color: hsl(180, 66%, 49%);
  flex: 0 0 30%;
}

.link-control button {
  padding: 6px 16px;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border: none;
  cursor: copy;
  text-transform: capitalize;
}

.link-control button.copied {
  background-color: hsl(257, 27%, 26%);
}
